USE [master]
GO
/****** Object:  Database [Licensing]    Script Date: 14/12/2015 8:05:48 PM ******/
CREATE DATABASE [Licensing]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Licensing', FILENAME = N'F:\Sql Server Data\Licensing.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Licensing_log', FILENAME = N'F:\Sql Server Data\Licensing_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Licensing].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Licensing]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14/12/2015 8:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LicenceAllocations]    Script Date: 14/12/2015 8:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenceAllocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[LicenceId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.LicenceAllocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Licences]    Script Date: 14/12/2015 8:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LicenceKey] [nvarchar](250) NOT NULL,
	[SoftwareId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Licences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[People]    Script Date: 14/12/2015 8:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.People] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SoftwareFiles]    Script Date: 14/12/2015 8:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoftwareFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](250) NOT NULL,
	[FileType] [int] NOT NULL,
	[SoftwareId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SoftwareFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Softwares]    Script Date: 14/12/2015 8:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Softwares](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Name] [nvarchar](max) NULL,
	[TypeId] [int] NOT NULL,
	[SoftwareType_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Softwares] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SoftwareTypes]    Script Date: 14/12/2015 8:05:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoftwareTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.SoftwareTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[LicenceAllocations] ON 

INSERT [dbo].[LicenceAllocations] ([Id], [PersonId], [LicenceId], [StartDate], [EndDate]) VALUES (1, 1, 1, CAST(N'2010-04-04 00:00:00.000' AS DateTime), CAST(N'2011-04-03 00:00:00.000' AS DateTime))
INSERT [dbo].[LicenceAllocations] ([Id], [PersonId], [LicenceId], [StartDate], [EndDate]) VALUES (2, 3, 2, CAST(N'2010-04-04 00:00:00.000' AS DateTime), CAST(N'2011-04-03 00:00:00.000' AS DateTime))
INSERT [dbo].[LicenceAllocations] ([Id], [PersonId], [LicenceId], [StartDate], [EndDate]) VALUES (3, 3, 3, CAST(N'2010-04-04 00:00:00.000' AS DateTime), CAST(N'2011-04-03 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[LicenceAllocations] OFF
SET IDENTITY_INSERT [dbo].[Licences] ON 

INSERT [dbo].[Licences] ([Id], [LicenceKey], [SoftwareId]) VALUES (1, N'ECDAE080-2419-4EF9-B551-299A1B8A7019', 1)
INSERT [dbo].[Licences] ([Id], [LicenceKey], [SoftwareId]) VALUES (2, N'A717BFE6-3886-4E64-BD15-CBC3211A0C56', 2)
INSERT [dbo].[Licences] ([Id], [LicenceKey], [SoftwareId]) VALUES (3, N'626F7EFA-E3AA-45A7-8314-065AE30809BF', 1)
SET IDENTITY_INSERT [dbo].[Licences] OFF
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([Id], [FirstName], [LastName]) VALUES (1, N'Terry', N'Halpin')
INSERT [dbo].[People] ([Id], [FirstName], [LastName]) VALUES (2, N'Alan', N'Turing')
INSERT [dbo].[People] ([Id], [FirstName], [LastName]) VALUES (3, N'Edgar', N'Codd')
SET IDENTITY_INSERT [dbo].[People] OFF
SET IDENTITY_INSERT [dbo].[SoftwareFiles] ON 

INSERT [dbo].[SoftwareFiles] ([Id], [FileName], [FileType], [SoftwareId]) VALUES (1, N'Win7.exe', 0, 1)
INSERT [dbo].[SoftwareFiles] ([Id], [FileName], [FileType], [SoftwareId]) VALUES (2, N'Win7SP1.iso', 1, 1)
INSERT [dbo].[SoftwareFiles] ([Id], [FileName], [FileType], [SoftwareId]) VALUES (3, N'OpenSuseDvd.iso', 1, 2)
SET IDENTITY_INSERT [dbo].[SoftwareFiles] OFF
SET IDENTITY_INSERT [dbo].[Softwares] ON 

INSERT [dbo].[Softwares] ([Id], [Description], [Name], [TypeId], [SoftwareType_Id]) VALUES (1, N'Very popular', N'Windows 7', 1, NULL)
INSERT [dbo].[Softwares] ([Id], [Description], [Name], [TypeId], [SoftwareType_Id]) VALUES (2, N'Very awesome', N'OpenSuse', 2, NULL)
INSERT [dbo].[Softwares] ([Id], [Description], [Name], [TypeId], [SoftwareType_Id]) VALUES (3, N'Stable Server', N'CentOS', 2, NULL)
SET IDENTITY_INSERT [dbo].[Softwares] OFF
SET IDENTITY_INSERT [dbo].[SoftwareTypes] ON 

INSERT [dbo].[SoftwareTypes] ([Id], [Name], [Description]) VALUES (1, N'DesktopOS', N'Desktop Operating System')
INSERT [dbo].[SoftwareTypes] ([Id], [Name], [Description]) VALUES (2, N'ServerOS', N'Server Operating System')
INSERT [dbo].[SoftwareTypes] ([Id], [Name], [Description]) VALUES (3, N'TabletOS', N'Table or Phone Operating System')
SET IDENTITY_INSERT [dbo].[SoftwareTypes] OFF
/****** Object:  Index [IX_LicenceId]    Script Date: 14/12/2015 8:05:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_LicenceId] ON [dbo].[LicenceAllocations]
(
	[LicenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PersonId]    Script Date: 14/12/2015 8:05:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_PersonId] ON [dbo].[LicenceAllocations]
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SoftwareId]    Script Date: 14/12/2015 8:05:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_SoftwareId] ON [dbo].[Licences]
(
	[SoftwareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SoftwareId]    Script Date: 14/12/2015 8:05:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_SoftwareId] ON [dbo].[SoftwareFiles]
(
	[SoftwareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SoftwareType_Id]    Script Date: 14/12/2015 8:05:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_SoftwareType_Id] ON [dbo].[Softwares]
(
	[SoftwareType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LicenceAllocations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LicenceAllocations_dbo.Licences_LicenceId] FOREIGN KEY([LicenceId])
REFERENCES [dbo].[Licences] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LicenceAllocations] CHECK CONSTRAINT [FK_dbo.LicenceAllocations_dbo.Licences_LicenceId]
GO
ALTER TABLE [dbo].[LicenceAllocations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LicenceAllocations_dbo.People_PersonId] FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LicenceAllocations] CHECK CONSTRAINT [FK_dbo.LicenceAllocations_dbo.People_PersonId]
GO
ALTER TABLE [dbo].[Licences]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Licences_dbo.Softwares_SoftwareId] FOREIGN KEY([SoftwareId])
REFERENCES [dbo].[Softwares] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Licences] CHECK CONSTRAINT [FK_dbo.Licences_dbo.Softwares_SoftwareId]
GO
ALTER TABLE [dbo].[SoftwareFiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SoftwareFiles_dbo.Softwares_SoftwareId] FOREIGN KEY([SoftwareId])
REFERENCES [dbo].[Softwares] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SoftwareFiles] CHECK CONSTRAINT [FK_dbo.SoftwareFiles_dbo.Softwares_SoftwareId]
GO
ALTER TABLE [dbo].[Softwares]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Softwares_dbo.SoftwareTypes_SoftwareType_Id] FOREIGN KEY([SoftwareType_Id])
REFERENCES [dbo].[SoftwareTypes] ([Id])
GO
ALTER TABLE [dbo].[Softwares] CHECK CONSTRAINT [FK_dbo.Softwares_dbo.SoftwareTypes_SoftwareType_Id]
GO
USE [master]
GO
